{{ 'badges-section.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'badges-section.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="badges">
<div style="background:#ccc; width:100%; padding: 20px 50px; display:block">
  <div style="background:#eee; width:25%;"> 
    <h3>Free shipping on all orders </h3> 
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>24 hour processing </h3>
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>Australian made and owned</h3>  
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>Support small</h3> 
  </div>
</div>
</section>
{% schema %}
  {
    "name": "badges",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}