{{ 'badges-section.css' | asset_url | stylesheet_tag }}
<style>
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>

<link rel="stylesheet" href="{{ 'badges-section.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="badges">
<div style="background:#ccc; width:100%; padding: 20px 50px; display:block; float:left;">
  <div style="background:#eee; width:25%;"> 
    <h3>Free shipping on all orders </h3> 
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>24 hour processing </h3>
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>Australian made and owned</h3>  
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>Support small</h3> 
  </div>
</div>

  <div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Free shipping on all orders</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>24 hour processing</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Australian made and owned</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#ddd;">
    <h2>Support small</h2>
    <p>Some text..</p>
  </div>
</div>
</section>
{% schema %}
  {
    "name": "badges",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}