<style>
* {
  box-sizing: border-box;
}
.row {
  background:#ccc; width:100%; padding: 20px 50px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>

<section class="badges">
<div style="background:#ccc; width:100%; padding: 20px 50px; display:row">
  <div style="background:#eee; width:25%;"> 
    <h3>Free shipping on all orders </h3> 
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>24 hour processing </h3>
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>Australian made and owned</h3>  
  </div>
  
  <div style="background:#eee; width:25%;"> 
    <h3>Support small</h3> 
  </div>
</div>

  <div class="row">
  <div class="column" style="">
    <h3>Free shipping on all orders</h3>
    <p>Some text..</p>
  </div>
  <div class="column" style="">
    <h3>24 hour processing</h3>
    <p>Some text..</p>
  </div>
  <div class="column" style="">
    <h3>Australian made and owned</h3>
    <p>Some text..</p>
  </div>
  <div class="column" style="">
    <h3>Support small</h3>
    <p>Some text..</p>
  </div>
</div>
</section>

{{ section.settings.custom_liquid }}

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
