<style>
* {
  box-sizing: border-box; 
}
.rowtop {
  background:; padding-left:50px; padding-right:50px;
}

.column {
  width: 25%; display:block; vertical-align: middle;
  text-align:center; justify-items: center; justify-content: center;
  float:left;
}

/* Clear floats after the columns */
.rowtop:after {
  content: "";
  display: table;
  clear: both;
} 
  .icn{
  height:25px; width:25px; margin-right:10px; align-self: center;
  top: 50%;  
  left: 50%;
  float:left;
    margin-top:20px;
  }
  .column >h3 {
  float: left; font-weight:bold; text-align:center; 
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%; display:block; float:left;
  }
}
</style>

<section class="badges">
  <div class="rowtop">
  <div class="column" style="">
    <img class="icn" src="https://cdn.shopify.com/s/files/1/0604/7508/0935/files/truck.png?v=1658384260">
    <h3>Free shipping on all orders</h3>
  </div>
  <div class="column" style="">
    <img class="icn" src="https://cdn.shopify.com/s/files/1/0604/7508/0935/files/24-hours.png?v=1658384470">
    <h3>24 hour processing</h3>
  </div>
  <div class="column" style="">
    <img class="icn" src="https://cdn.shopify.com/s/files/1/0604/7508/0935/files/australia.png?v=1658384470">
    <h3>Australian made and owned</h3>
  </div>
  <div class="column" style="">
    <img class="icn" src="https://cdn.shopify.com/s/files/1/0604/7508/0935/files/heart.png?v=1658384470">
    <h3>Support small</h3>
  </div>
</div>

</section>

{{ section.settings.custom_liquid }}

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
