{{ 'badges-section.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'badges-section.css' | asset_url }}" media="print" onload="this.media='all'">


<div class="collection page-width{% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}">
  
</div>
{% schema %}
  {
    "name": "section-badges",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}